@font-face {
   font-family: 'comic-sans-ms_[allfont.de]';
   font-display: swap;
   src: url('file:///C:/Users/xnumb/AppData/Local/Mobirise.com/Mobirise/projects/project-2020-10-17_194311/fonts/comic-sans-ms_%5Ballfont.de%5D/font.ttf');
}
